[SUBMODULE "LLAMA.CPP"]
	PATH = LLAMA.CPP
# 	URL = HTTPS://GITHUB.COM/GGERGANOV/LLAMA.CPP
	URL = https://gitee.com/shengchong1220/llama.cpp
[SUBMODULE "GGLLM.CPP"]
	PATH = GGLLM.CPP
# 	URL = HTTPS://GITHUB.COM/CMP-NCT/GGLLM.CPP
	URL = HTTPS://GITEE.COM/SHENGCHONG1220/GGLLM.CPP
